<main class="mdl-layout__content" style="width:100%; text-align:center">
  <div class="logo-container"><img src="../assets/imgs/megaphone.svg" width="100px" /></div>
  <h3 class="slogan">Megáfono</h3>
</main>


  <div class="mdl-grid portfolio-max-width">

    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp" style="margin-bottom:5%;">
          <header class=" mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">


          </header>
          <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone" style="    min-height: 50px;">
            <div class="mdl-card__supporting-text" style="display: block;">
              <h4>Reto 1</h4>
            <p>  Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Nostrud in laboris labore nisi amet do dolor eu fugiat consectetur elit cillum esse.</p>
            </div>
            <div class="mdl-card__actions">
              <a href="#" class="mdl-button">Ver más</a>
            </div>
          </div>
        </section>

        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp" style="margin-bottom:5%;">
              <header class="mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
              
              </header>
              <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone" style="    min-height: 50px;">
                <div class="mdl-card__supporting-text" style="display: block;">
                  <h4>Reto 2</h4>
                  Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Nostrud in laboris labore nisi amet do dolor eu fugiat consectetur elit cillum esse.
                </div>
                <div class="mdl-card__actions">
                  <a href="#" class="mdl-button">Ver más</a>
                </div>
              </div>
            </section>



            <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp" style="margin-bottom:5%;">
                  <header class=" mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">

                  </header>
                  <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone" style="    min-height: 50px;">
                    <div class="mdl-card__supporting-text" style="display: block;">
                      <h4>Reto 3</h4>
                      Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Nostrud in laboris labore nisi amet do dolor eu fugiat consectetur elit cillum esse.
                    </div>
                    <div class="mdl-card__actions">
                      <a href="#" class="mdl-button">Ver más</a>
                    </div>
                  </div>
                </section>


                <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp" style="margin-bottom:5%;">
                      <header class=" mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">

                      </header>
                      <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone" style="    min-height: 50px;">
                        <div class="mdl-card__supporting-text" style="display: block;">
                          <h4>Reto 4</h4>
                          Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Nostrud in laboris labore nisi amet do dolor eu fugiat consectetur elit cillum esse.
                        </div>
                        <div class="mdl-card__actions">
                          <a href="#" class="mdl-button">Ver más</a>
                        </div>
                      </div>
                    </section>

  </div>





<dialog class="mdl-dialog" #dialog>
  <h4 class="mdl-dialog__title">Reto Click Social</h4>
  <div class="mdl-dialog__content">
    <p>
      Enim labore aliqua consequat ut quis ad occaecat aliquip incididunt. Sunt nulla eu enim irure enim nostrud aliqua consectetur ad consectetur sunt ullamco officia. Ex officia laborum et consequat duis.
    </p>
  </div>
  <div class="mdl-dialog__actions">
    <button type="button" class="mdl-button close" (click)="closeDialog()">Cerrar</button>
  </div>
</dialog>
