<div class="demo-blog__posts mdl-grid">
  <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
    <div class="mdl-card__media mdl-color-text--grey-50" [ngStyle]="{'background': 'linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.41) 90%), linear-gradient(0deg, rgba(45, 47, 49, 0.3), transparent), url('+challenge.img+') center/cover no-repeat'}">
      <h3>{{challenge.title}}</h3>
    </div>
    <div class=" mdl-color-text--grey-700 mdl-card__supporting-text meta">
      <div class="minilogo"></div>
      <div>
        <strong>Fecha</strong>
        <span>{{dateTransform(challenge.creation_date)}}</span>
      </div>
      <div class="section-spacer"></div>
      <div class="meta__favorites">
        {{challenge.likes}} <i class="material-icons" role="presentation">favorite</i>
        <span class="visuallyhidden">favorites</span>
      </div>
    </div>
    <div class="mdl-color-text--grey-700 mdl-card__supporting-text" style="height:auto; width:95%;">
      <h3>Info</h3>
      <p>
        {{challenge.description}}
      </p>
      <h3>Reto</h3>
      <p>
        {{challenge.challenge}}
      </p>
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col">
          <h3>Autores</h3>
          <div *ngFor="let author of challenge?.authors">
            <p>{{author.name}}</p>
            <p>{{author.email}}</p>
          </div>
        </div>
        <div class="mdl-cell mdl-cell--6-col">
          <h3>Direccion</h3>
          <div *ngFor="let a of challenge?.address">
            <p>{{a.state}}, {{a.city}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="mdl-color-text--primary-contrast mdl-card__supporting-text comments">
      <form style="width: 100%; display:block;">
        <div class="mdl-textfield mdl-js-textfield" style="width: 100%;">
          <input type="text" class="mdl-textfield__input" id="author" />
          <label for="author" class="mdl-textfield__label">Nombre</label>
        </div>
        <div style="display:inline-flex; width:100%;">
        <div class="mdl-textfield mdl-js-textfield" style="width: 80%;">
          <textarea rows=2  class="mdl-textfield__input" id="comment"></textarea>
          <label for="comment" class="mdl-textfield__label">Participa</label>
        </div>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
          <i class="material-icons" role="presentation">check</i><span class="visuallyhidden">add comment</span>
        </button>
      </div>

      </form>
      <!-- <div class="comment mdl-color-text--grey-700" style="margin-top: 100px;">
        <header class="comment__header">
          <img src="../assets/imgs/co1.jpg" class="comment__avatar">
          <div class="comment__author">
            <strong>Juan Perez</strong>
            <span>Hace 2 dias</span>
          </div>
        </header>
        <div class="comment__text">
          Entre las aportaciones que se pueden presentar sobre este tema....
        </div>
      </div> -->
    </div>
  </div>
</div>
