<div class="demo-blog__posts mdl-grid">
  <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
    <div class="mdl-card__media mdl-color-text--grey-50" [ngStyle]="{'background': 'linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.41) 90%), linear-gradient(0deg, rgba(45, 47, 49, 0.3), transparent), url('+challenge.img+') center/cover no-repeat'}">
      <h3>{{challenge.title}}</h3>
    </div>
    <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
      <div class="minilogo"></div>
      <div>
        <strong>Fecha</strong>
        <span>{{dateTransform(challenge.creation_date)}}</span>
      </div>
      <div class="section-spacer"></div>
      <div class="meta__favorites">
        {{challenge.likes}} <i class="material-icons" role="presentation">favorite</i>
        <span class="visuallyhidden">favorites</span>
      </div>
    </div>
    <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
      <h3>Info</h3>
      <p>
        {{challenge.description}}
      </p>
      <h3>Reto</h3>
      <p>
        {{challenge.challenge}}
      </p>
    </div>
    <div class="mdl-color-text--primary-contrast mdl-card__supporting-text comments">
      <form>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <textarea rows=1 class="mdl-textfield__input" id="comment"></textarea>
          <label for="comment" class="mdl-textfield__label">Agrega un comentario</label>
        </div>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
          <i class="material-icons" role="presentation">check</i><span class="visuallyhidden">add comment</span>
        </button>
      </form>
      <div class="comment mdl-color-text--grey-700">
        <header class="comment__header">
          <img src="../assets/imgs/co1.jpg" class="comment__avatar">
          <div class="comment__author">
            <strong>Juan Perez</strong>
            <span>Hace 2 dias</span>
          </div>
        </header>
        <div class="comment__text">
          Entre las aportaciones que se pueden presentar sobre este tema....
        </div>
        <nav class="comment__actions">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
            <i class="material-icons" role="presentation">thumb_up</i><span class="visuallyhidden">like comment</span>
          </button>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
            <i class="material-icons" role="presentation">thumb_down</i><span class="visuallyhidden">dislike comment</span>
          </button>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
            <i class="material-icons" role="presentation">share</i><span class="visuallyhidden">share comment</span>
          </button>
        </nav>
        <div class="comment__answers">
          <div class="comment">
            <header class="comment__header">
              <img src="../assets/imgs/co2.jpg" class="comment__avatar">
              <div class="comment__author">
                <strong>Juan Perez</strong>
                <span>Hace 2 dias</span>
              </div>
            </header>
            <div class="comment__text">
              Excelente Idea, yo puedo aportar un desarrollo sobre...
            </div>
            <nav class="comment__actions">
              <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons" role="presentation">thumb_up</i><span class="visuallyhidden">like comment</span>
              </button>
              <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons" role="presentation">thumb_down</i><span class="visuallyhidden">dislike comment</span>
              </button>
              <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons" role="presentation">share</i><span class="visuallyhidden">share comment</span>
              </button>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav class="demo-nav mdl-color-text--grey-50 mdl-cell mdl-cell--12-col">
    <a href="index.html" class="demo-nav__button">
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
        <i class="material-icons">arrow_back</i>
      </button> Siguiente
    </a>
    <div class="section-spacer"></div>
    <a href="index.html" class="demo-nav__button">
      Atras
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
        <i class="material-icons">arrow_forward</i>
      </button>
    </a>
  </nav>
</div>
