<div class="mdl-grid portfolio-max-width">
  <div class="filters-header zigzag-green mdl-cell--12-col">
    <div class="logo-container"><img src="../assets/imgs/forms.svg" width="100px" /></div>
    <h3 class="slogan">Convocatorias</h3>
    <div class="mdl-grid" style="text-align:center" class="filter-opt">
      <div class="mdl-cell--12-col">
        <div class="mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" type="text" id="sample1">
          <label class="mdl-textfield__label" for="sample1">Ciudad...</label>
        </div>
        <label>Tipo</label>
        <select>
          <option value="">Delegacional</option>
          <option value="">Estatal</option>
          <option value="">Nacional</option>
        </select>

      </div>
    </div>
  </div>


  <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card" *ngFor="let c of convocations">
    <div>
      <img class="article-image" src={{c.img}} border="0" alt="">
    </div>
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">{{c.title}}</h2>
    </div>
    <div class="mdl-card__supporting-text">
      {{c.description}}
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" id="show-dialog" (click)="openDialog(c)">Ver mas</a>
    </div>
  </div>




</div>

<dialog class="mdl-dialog" #dialog>
  <h4 class="mdl-dialog__title">{{dialogC.title}}</h4>
  <div class="mdl-dialog__content">
    <p>
      {{dialogC.description}}
    </p>
  </div>
  <div class="mdl-dialog__actions">
    <button type="button" class="mdl-button close" (click)="closeDialog()">Cerrar</button>
  </div>
</dialog>
