<main class="mdl-layout__content" style="width:100%; text-align:center">
  <div class="logo-container"><img src="../assets/imgs/teamwork.svg" width="100px" /></div>
  <h3 class="slogan">Directorio de Organizaciones de la sociedad civil</h3>
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" (click)="openDialog()">
  <i class="material-icons">search</i>
</button>
</main>

<div class="portfolio-max-width">
  <div class="search-bar">
    <label class="mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">search</i>
    </label>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" [(ngModel)]="data" />
      <label class="mdl-textfield__label">Busca organizaciones...</label>
    </div>


  </div>

  <ul class="mdl-list">
    <li class=" mdl-card mdl-list__item mdl-list__item--three-line dir-list" *ngFor="let o of organizations | filterdata:data">
      <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-icon	">account_balance</i>
      <span>{{o.social_reason}}</span>
      <span class="mdl-list__item-text-body grid-dict-table">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--2-col"><i class="material-icons">dashboard</i></div>
          <div class="mdl-cell mdl-cell-10-col data">{{o.figure}}</div>
          <div class="mdl-cell mdl-cell--2-col "><i class="material-icons">place</i></div>
          <div class="mdl-cell mdl-cell-10-col data">{{o.federal_entity}}</div>
          <div class="mdl-cell mdl-cell--2-col"><i class="material-icons">email</i></div>
          <div class="mdl-cell mdl-cell-10-col data">{{o.emails}}</div>
          <div class="mdl-cell mdl-cell--2-col"><i class="material-icons">face</i></div>
          <div class="mdl-cell mdl-cell-10-col data">{{o.representants}}</div>
        </div>
      </span>
      </span>
    </li>
  </ul>
</div>

<dialog class="filters-dialog mdl-dialog" style="" #dialog>
  <h4 class="mdl-dialog__title">Filtros</h4>
  <div class="mdl-dialog__content">
    <p>
      Busca a traves de nuestro catalogo
    </p>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--6-col">
        <h4>Figura</h4>
        <div *ngFor="let g of figure_filter; let i = index">
          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="g-{{i}}" style="height:auto;  margin-bottom:5px;">
            <input type="checkbox" id="g-{{i}}" class="mdl-checkbox__input" [(ngModel)]="selectedFigure[i].value">
            <span class="mdl-checkbox__label">{{g}}</span>
          </label>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--6-col">
        <h4>Entidad Federativa</h4>
        <div *ngFor="let s of issue_filter; let i = index">
          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="s-{{i}}" style="height:auto;  margin-bottom:5px;">
            <input type="checkbox" id="s-{{i}}" class="mdl-checkbox__input" [(ngModel)]="selectedIssue[i].value">
            <span class="mdl-checkbox__label">{{s}}</span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="mdl-dialog__actions">
    <button type="button" class="mdl-button close" (click)="searchData()">Buscar</button>
    <button type="button" class="mdl-button close" (click)="closeDialog()">Cerrar</button>
  </div>
</dialog>
