<main class="mdl-layout__content" style="width:100%; text-align:center">
  <div class="logo-container"><img src="../assets/imgs/teamwork.svg" width="100px" /></div>
  <h3 class="slogan">Directorio de Organizaciones</h3>
</main>

<div class="portfolio-max-width">
  <div class="search-bar">
    <label class="mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">search</i>
    </label>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" [(ngModel)]="data" />
      <label class="mdl-textfield__label">Busca organizaciones...</label>
    </div>


  </div>

  <ul class="mdl-list">
    <li class=" mdl-card mdl-list__item mdl-list__item--three-line dir-list" *ngFor="let o of organizations | filterdata:data">
      <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-icon	">account_balance</i>
      <span>{{o.social_reason}}</span>
      <span class="mdl-list__item-text-body">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--2-col"><i class="material-icons">dashboard</i></div>
          <div class="mdl-cell mdl-cell-10-col">{{o.figure}}</div>
          <div class="mdl-cell mdl-cell--2-col"><i class="material-icons">place</i></div>
          <div class="mdl-cell mdl-cell-10-col">{{o.federal_entity}}</div>
          <div class="mdl-cell mdl-cell--2-col"><i class="material-icons">email</i></div>
          <div class="mdl-cell mdl-cell-10-col">{{o.emails}}</div>
          <div class="mdl-cell mdl-cell--2-col"><i class="material-icons">face</i></div>
          <div class="mdl-cell mdl-cell-10-col">{{o.representants}}</div>
        </div>
      </span>
      </span>
    </li>
  </ul>
</div>
