<div class="directory-container">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
  <div class="mdl-layout__drawer">
    <span class="mdl-layout__title">Simple Layout</span>
  </div>
</div>
</div>
<!-- <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
    <header class="demo-drawer-header">
      <h3>Filtros</h3>
    </header>
    <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
      <h4>Tipo</h4>
      <div>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
          <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
          <span class="mdl-checkbox__label">Desarrollo Integral</span>
        </label>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
          <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
          <span class="mdl-checkbox__label">Sociedad Incluyente</span>
        </label>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
          <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
          <span class="mdl-checkbox__label">Alimentacion</span>
        </label>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
          <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
          <span class="mdl-checkbox__label">Equidad de genero</span>
        </label>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
          <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
          <span class="mdl-checkbox__label">Profesionalizacion</span>
        </label>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
          <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
          <span class="mdl-checkbox__label">Investigacion</span>
        </label>
      </div>
      <div class="mdl-layout-spacer"></div>
      <h4>Grupo Social</h4>
      <div>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
          <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
          <span class="mdl-checkbox__label">Población en general</span>
        </label>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
          <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
          <span class="mdl-checkbox__label">Productores</span>
        </label>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
          <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
          <span class="mdl-checkbox__label">Comunidades</span>
        </label>
      </div>
      <div class="mdl-layout-spacer"></div>
      <h4>Incidencia</h4>
      <div>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
          <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
          <span class="mdl-checkbox__label">Nacional</span>
        </label>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
          <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
          <span class="mdl-checkbox__label">Estatal</span>
        </label>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
          <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
          <span class="mdl-checkbox__label">Municipal</span>
        </label>
        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
          <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
          <span class="mdl-checkbox__label">Delegacion</span>
        </label>
      </div>
    </nav>
  </div>
  <main class="mdl-layout__content directory-content">
    <div class="mdl-grid d-grid">
      <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col" *ngFor="let o of organizations">
        <div class="mdl-card__title mdl-card--expand" [ngStyle]="{'background': 'linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.41) 90%), linear-gradient(0deg, rgba(45, 47, 49, 0.3), transparent), url('+o.img+') center/cover no-repeat'}">
          <h2 class="mdl-card__title-text">{{o.entity}}</h2>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-600">
          <div class="group" style="width:100%;">
            <div class="icon material-icons" style="display:inline-flex;">web</div>
            <p>
              {{o.web}}
            </p>
          </div>
          <div class="group">
            <p>{{o.type}}</p>
          </div>

        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a href="#" class="mdl-button mdl-js-button mdl-js-ripple-effect">Ver mas</a>
        </div>
      </div>
    </div>
  </main>
</div> -->
