<div class="main">
  <main class="mdl-layout__content">
    <h1 class="main-title">Click social</h1>
    <div class="logo-container"><img src="../assets/imgs/internet.png" width="250px" /></div>
    <h3 class="slogan">Integrando comunidades</h3>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--7-col">
        <div class="mdl-card mdl-shadow--2dp card-box">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--7-col">
              <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Qué es click Social?</h2>
              </div>
              <div class="mdl-card__supporting-text">
                Click Social es un conjunto de herramientas y recursos tecnológicos orientados a promover la vertebración y la visibilización de iniciativas sociales, organizaciones de la sociedad civil y entes donantes.
                Los recursos tecnológicos que Click Social pone a disposición de los proyectos y las iniciativas ciudadanas están orientados a favorecer una inversión de alto impacto y el escalamiento de proyectos sociales para el beneficio y desarrollo de nuestro país. En virtud de su trascendencia, Click Social prioriza aquellos proyectos directamente vinculados con la agenda de los Objetivos del Desarrollo Sostenible, acordados el año pasado en el seno de la Organización de las Naciones Unidas.

              </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col">
              <img src="../assets/imgs/network.png" width="200px" />
            </div>
          </div>
        </div>
        <div class="mdl-card mdl-shadow--2dp card-box">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col">
              <img src="../assets/imgs/chatting.png" width="200px" />
            </div>
            <div class="mdl-cell mdl-cell--7-col">

              <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Nuestra misión</h2>
              </div>
              <div class="mdl-card__supporting-text">
                Click Social tiene como objetivo el ser el primer y mas grande cluster de vinculación en el sector empresarial; conjuntando a empresarios, instituciones gubernamentales y emprendedores, sobre una plataforma la cual sirve como herramienta de emponderamiento
                a las mejores ideas que se pueden convertir proyectos de alto impacto a nivel negocio e inclusive socialmente.
              </div>

            </div>
          </div>
        </div>
        <div class="mdl-card mdl-shadow--2dp card-box">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--7-col">
              <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Solución</h2>
              </div>
              <div class="mdl-card__supporting-text">
              Con la convicción de que la inversión de alto impacto demanda información que genere confianza entre emprendedores, organizaciones de la sociedad civil y entes donantes, Click Social incluye entre sus principales líneas de trabajo un Observatorio de la Sociedad Civil en el que se pone especial énfasis en el grado de institucionalidad de las organizaciones, sus prácticas de transparencia y rendición de cuentas y su capacidad para incidir.
Adicionalmente, Click Social ofrece a las iniciativas sociales, las organizaciones de la sociedad civil y los entes donantes un laboratorio colaborativo para encontrar las mejores soluciones a los problemas que las organizaciones y los emprendedores enfrentan para el desarrollo de sus proyectos.

              </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col">
              <img src="../assets/imgs/world.png" width="200px" />
            </div>
          </div>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--4-col">
        <div class="mdl-card mdl-shadow--2dp card-box amazing">
          <div class="mdl-card__title mdl-color-text--grey-50">
            <h3 class="quote">Bienvenido a Click Social…</h3>
          </div>
          <div class="mdl-card__supporting-text mdl-color-text--grey-600">
            Inicio Click Social como la primera plataforma en Mexico para empoderar
            el crecimiento de inversión en el sector social; con un enfoque sobre
            las ODS.
          </div>
          <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
            <div class="minilogo"></div>
            <div>
              <strong>Reciente</strong>
              <span>Hace 2 dias</span>
            </div>
          </div>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--12-col">
        <div class="mdl-card mdl-shadow--2dp card-box">
          <div class="partners">
            <h2>Aliados</h2>
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--4-col"><img src="../assets/imgs/bimbo.png" width="60%" /></div>
              <div class="mdl-cell mdl-cell--4-col"><img src="../assets/imgs/alpura.png" width="60%" /></div>
              <div class="mdl-cell mdl-cell--4-col"><img src="../assets/imgs/ado_platino.png" width="60%" /></div>
            </div>

            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--4-col"><img src="../assets/imgs/planc.png" width="60%" /></div>
              <div class="mdl-cell mdl-cell--4-col"><img src="../assets/imgs/mov.jpg" width="60%" /></div>
              <div class="mdl-cell mdl-cell--4-col"><img src="../assets/imgs/ind.jpg" width="60%" /></div>
            </div>

            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--4-col"><img src="../assets/imgs/imjuve.png" width="60%" /></div>

              <div class="mdl-cell mdl-cell--4-col"><img src="../assets/imgs/cop.jpeg" width="60%" /></div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </main>
</div>
