@charset "UTF-8";
/**
  * Main SASS file gets all partials
  * this sass file will be compiled at
  * the beginning
**/
/**
  * Variables Partial SASS
  * This SASS file has the palette color
  * the media queries break points and fonts attributes.
**/
/**
  * Utils Partial SASS
  * This SASS file has all the functions used
  * on the partials.
**/
@import url("http://fonts.googleapis.com/css?family=Open+Sans|Yeseva+One");
/**
  * Mixin Partial SASS
  * This SASS file make groups of CSS declarations
  * that are reuse throughout the site.
**/
/**
  * Extend Partial SASS
  * This SASS file has all common
  * styles that are presented on some
  * classes
**/
/**
  * Index Partial SASS
  * This SASS file is the manifest on
  * components folder
  * !Important import order is relevant while compiling SASS
**/
/**
  * BASE Partial SASS
  * This SASS file has general components
  * used on the app
**/
/*General*/
.mdl-layout,
.mdl-layout__container,
body,
html {
  height: 100%;
  width: 100%; }

.mdl-layout,
.mdl-layout__container,
.mdl-layout__content {
  z-index: inherit !important; }

._dialog_overlay {
  z-index: inherit !important;
  position: inherit !important; }

.no-margin {
  margin: 0; }

.logo-font {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  color: #767777;
  font-weight: 500; }

.phone-appear {
  display: none; }

.error-msg {
  width: 100%;
  color: #EC407A;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.zigzag-white:after {
  background: linear-gradient(-45deg, transparent 24px, #FFF 0), linear-gradient(45deg, transparent 24px, #FFF 0);
  background-repeat: repeat-x;
  background-position: left bottom;
  background-size: 30px 40px;
  content: "";
  display: block;
  width: 100%;
  height: 32px;
  position: relative;
  top: 32px;
  left: 0; }

.zigzag-grey:after {
  background: linear-gradient(-45deg, transparent 24px, #EEEEEE 0), linear-gradient(45deg, transparent 24px, #EEEEEE 0);
  background-repeat: repeat-x;
  background-position: left bottom;
  background-size: 30px 40px;
  content: "";
  display: block;
  width: 100%;
  height: 32px;
  position: relative;
  top: 32px;
  left: 0; }

.zigzag-pink:after {
  background: linear-gradient(-45deg, transparent 24px, #FA3E51 0), linear-gradient(45deg, transparent 24px, #FA3E51 0);
  background-repeat: repeat-x;
  background-position: left bottom;
  background-size: 30px 40px;
  content: "";
  display: block;
  width: 100%;
  height: 32px;
  position: relative;
  top: 32px;
  left: 0;
  top: 140px; }

.zigzag-green:after {
  background: linear-gradient(-45deg, transparent 24px, #388e3c 0), linear-gradient(45deg, transparent 24px, #388e3c 0);
  background-repeat: repeat-x;
  background-position: left bottom;
  background-size: 30px 40px;
  content: "";
  display: block;
  width: 100%;
  height: 32px;
  position: relative;
  top: 32px;
  left: 0;
  top: 0px;
  z-index: 99; }

.loading {
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  display: none; }
  .loading .mdl-progress {
    width: 100%; }
  .loading .loading-container {
    width: 100%;
    text-align: center;
    margin-top: 20%; }
    .loading .loading-container img {
      width: 50px;
      height: 50px; }
    .loading .loading-container p {
      font-size: 1.25em; }

.downloads {
  bottom: 0;
  z-index: 99;
  right: 5px;
  position: fixed; }

/**
  * Footer Partial SASS
  * This SASS file has all footers style
**/
.mdl-mega-footer {
  padding: 16px 40px;
  color: #424242;
  background-color: #fff; }

/**
  * Header Partial SASS
  * This SASS file has the header components
  * used on the app
**/
/* Header */
.android-header {
  overflow: visible;
  background-color: #FA3E51; }
  .android-header .material-icons {
    color: #767777 !important; }
  .android-header .mdl-navigation__link {
    color: #FFF;
    font-weight: 400;
    font-size: 1.125em; }

/* Tab container*/
.cd-tabs-content {
  height: auto;
  padding: 0; }
  .cd-tabs-content .tab {
    display: none;
    padding: 0;
    height: auto; }
    .cd-tabs-content .tab.selected {
      display: block;
      -webkit-animation: cd-fade-in 0.5s;
      -moz-animation: cd-fade-in 0.5s;
      animation: cd-fade-in 0.5s; }

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  margin-bottom: 16px; }

.drawer {
  color: white;
  border: none;
  /* iOS Safari specific workaround */
  /* END iOS Safari specific workaround */ }
  .drawer .mdl-menu__container {
    z-index: -1; }
  .drawer .navigation {
    z-index: -2;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }
  .drawer .mdl-menu .mdl-menu__item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }

.mdl-layout__drawer-button {
  display: block;
  position: absolute;
  height: 48px;
  width: 48px;
  border: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  font-size: 26px;
  line-height: 56px;
  font-family: Helvetica,Arial,sans-serif;
  margin: 8px 12px;
  top: 0;
  left: 0;
  color: #fff !important;
  z-index: 4; }

.drawer-header {
  color: white;
  background: #FA3E51;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 16px;
  height: 151px; }

.filters-header {
  background: #388e3c;
  width: 100%;
  height: 180px; }
  .filters-header .filter-opt {
    color: white;
    text-align: center; }
    .filters-header .filter-opt label {
      font-size: 1em; }
    .filters-header .filter-opt select {
      background: #3F51B5;
      border-radius: 5px;
      border: none;
      color: white;
      padding: 11px; }

.title-logos {
  display: inline-flex; }

/**
  * Index Partial SASS
  * This SASS file is the manifest on
  * components folder
  * !Important import order is relevant while compiling SASS
**/
/**
  * Backgrounds Partial SASS
  * This SASS file create
  * multiple backgrounds (colors/img)
**/
.layout-transparent {
  background: linear-gradient(rgba(139, 195, 74, 0.78), rgba(139, 212, 53, 0.22) 90%), linear-gradient(0deg, rgba(183, 198, 205, 0.35), transparent), url("../assets/imgs/bg_2880.jpg") center 45%/cover no-repeat; }
  .layout-transparent .mdl-layout__drawer-button,
  .layout-transparent .mdl-layout__header {
    /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
    color: white !important; }

.circle-img {
  width: 112px;
  height: 68px;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  -ms-border-radius: 20%;
  border-radius: 20%;
  margin: 0 auto; }

.mdl-layout__drawer-button i {
  color: #000 !important; }

/**
  * Forms Partial SASS
  * This SASS file has all
  * forms used on the app
**/
.portfolio-max-width {
  justify-content: center;
  max-width: 900px;
  margin: auto; }

img.article-image {
  width: 100%;
  height: auto; }

.portfolio-card .mdl-card__title {
  margin: 5px;
  padding-bottom: 0; }

.mdl-card__media {
  padding: 0; }

.search-bar {
  background: white;
  text-align: center; }

/**
  * Icons Partial SASS
  * This SASS file has most of the icons
  * used on the app
**/
/* These are general rules for logos */
/* Logo */
/**
  * Modals Partial SASS
  * This SASS has the modals dialogs
**/
.dialog-contest {
  width: 50%;
  top: 10%; }
  .dialog-contest .containt-contest--img {
    text-align: center;
    width: 100%;
    margin: 20px auto; }
    .dialog-contest .containt-contest--img img {
      width: 380px; }
  .dialog-contest .group {
    width: 100%;
    display: inline-flex; }
    .dialog-contest .group p {
      margin-left: 5px; }

.main {
  max-width: 1400px;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0; }
  .main .mdl-layout__content {
    padding-top: 100px;
    position: relative;
    -webkit-overflow-scrolling: touch; }
  .main .mdl-card {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    min-height: 360px; }

.card-box {
  width: 100%; }

.amazing .mdl-card__title {
  background-color: #388e3c; }

.minilogo {
  width: 44px;
  height: 44px;
  background-image: url("../assets/imgs/avatar.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  border-radius: 22px;
  background-color: #F5F5F5; }

.social-btn {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  margin: 0 16px;
  width: 44px;
  height: 44px;
  cursor: pointer;
  opacity: 0.46;
  border-radius: 2px; }

.social-btn__twitter {
  background-image: url("https://www.gstatic.com/images/icons/material/system/2x/post_twitter_black_24dp.png"); }

.social-btn__blogger {
  background-image: url("https://www.gstatic.com/images/icons/material/system/2x/post_facebook_black_24dp.png"); }

.social-btn__gplus {
  background-image: url("https://www.gstatic.com/images/icons/material/system/2x/post_gplus_black_24dp.png"); }

.social-btn__share {
  color: rgba(0, 0, 0, 0.54);
  background: transparent; }

.main-title {
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 55px;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 0 2px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.15); }

.slogan {
  text-align: center;
  color: white;
  font-weight: 300;
  font-size: 39px;
  text-shadow: 0 0 0 #607D8B, 0 2px 0 #607D8B, 0 3px 0 #607D8B, 0 4px 0 #b9b9b9, 0 1px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 0 rgba(0, 0, 0, 0.1), 0 0 2px rgba(0, 0, 0, 0.3), 0 1px 3px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.15); }

.logo-container {
  width: 100%;
  text-align: center; }
  .logo-container img {
    width: 180px; }

.logo-container-contest {
  width: 100%;
  text-align: center; }
  .logo-container-contest img {
    width: 90px; }

/****************************************************/
.demo-blog__posts {
  max-width: 900px;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.demo-blog.mdl-layout .mdl-layout__content {
  padding-top: 230px;
  position: relative;
  -webkit-overflow-scrolling: touch; }

.mdl-card {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  min-height: 360px; }

.mdl-card__title {
  padding: 16px;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.mdl-card__media {
  box-sizing: border-box;
  background-size: cover;
  padding: 24px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  cursor: pointer; }
  .mdl-card__media a {
    color: inherit; }

.mdl-card__title a {
  color: inherit; }

.elipsis-effect {
  display: block;
  display: -webkit-box;
  max-width: 400px;
  height: 20px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.4;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; }

.mdl-card__supporting-text {
  width: 100%;
  padding: 16px;
  min-height: 64px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .mdl-card__supporting-text strong {
    font-weight: 400; }

.mdl-card__supporting-text-challenge {
  width: 100%;
  padding: 16px;
  min-height: 64px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .mdl-card__supporting-text-challenge strong {
    font-weight: 400; }

.mdl-card__supporting-text-directory {
  width: 100%;
  padding: 16px;
  min-height: 64px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .mdl-card__supporting-text-directory strong {
    font-weight: 400; }

.mdl-card__media ~ .mdl-card__supporting-text {
  min-height: 64px; }

.mdl-card__supporting-text:not(:last-child) {
  box-sizing: border-box;
  min-height: 76px; }

.demo-blog:not .mdl-card__supporting-text ~ .mdl-card__supporting-text {
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

.mdl-card__actions:first-child {
  margin-left: 0; }

.meta {
  box-sizing: border-box;
  padding: 16px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  height: auto; }
  .meta > .meta__favorites {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0 8px;
    font-size: 13px;
    font-weight: 500; }
    .meta > .meta__favorites .material-icons {
      font-size: 2em;
      cursor: pointer;
      margin-left: 12px; }

.mdl-card .meta.meta--fill {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.meta > * {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .meta > *:first-child {
    margin-right: 16px; }

.demo-blog.is-small-screen .demo-blog__posts > .mdl-card.coffee-pic {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0; }
.demo-blog.is-small-screen .demo-blog__posts > .mdl-card.something-else {
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1; }

.something-else .mdl-card__media {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px; }
  .something-else .mdl-card__media img {
    width: 64px;
    height: 64px;
    margin-bottom: 10px; }
.something-else > button {
  position: absolute;
  top: 0;
  right: 28px;
  -webkit-transform: translate(0px, -28px);
  transform: translate(0px, -28px); }
.something-else .mdl-card__supporting-text {
  background-color: #F5F5F5;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px; }

/*.shopping .mdl-card__media {
  background-image: url('../asstes/imgs/shopping.jpg');
}*/
.demo-blog__posts > .demo-nav {
  margin: 12px 15px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  font-weight: 500; }
  .demo-blog__posts > .demo-nav > .demo-nav__button {
    color: white;
    text-decoration: none; }
  .demo-blog__posts > .demo-nav .mdl-button {
    color: rgba(0, 0, 0, 0.54);
    background-color: white; }
  .demo-blog__posts > .demo-nav > .demo-nav__button:first-child .mdl-button {
    margin-right: 16px; }
  .demo-blog__posts > .demo-nav > .demo-nav__button:last-child .mdl-button {
    margin-left: 16px; }

.mdl-card > a {
  color: inherit;
  text-decoration: none;
  font-weight: inherit; }
.mdl-card h3 {
  margin: 0; }
  .mdl-card h3 a {
    text-decoration: none; }
  .mdl-card h3.quote:after, .mdl-card h3.quote:before {
    display: block;
    font-size: 3em;
    margin-top: 0.5em; }
  .mdl-card h3.quote:before {
    content: '“'; }
  .mdl-card h3.quote:after {
    content: '”'; }

.custom-header {
  background-color: transparent; }

.demo-blog__posts > .mdl-card .mdl-card__media {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.41) 90%), linear-gradient(0deg, rgba(45, 47, 49, 0.3), transparent), url("http://blog.udlap.mx/wp-content/uploads/2017/01/click-social-udlap.jpg") center 45%/cover no-repeat;
  height: 280px; }

.comments {
  background-color: #EEE; }

.meta > * {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
.meta + .mdl-card__supporting-text {
  border: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .meta + .mdl-card__supporting-text p {
    max-width: 512px;
    margin: 16px auto;
    font-size: 16px;
    line-height: 28px; }

.comments {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding: 32px;
  box-sizing: border-box; }
  .comments > form {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-bottom: 16px; }
    .comments > form .mdl-textfield {
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      margin-right: 16px;
      color: #616161; }
      .comments > form .mdl-textfield .mdl-textfield__input {
        font-family: 'Roboto', 'Helvetica', sans-serif; }
      .comments > form .mdl-textfield input,
      .comments > form .mdl-textfield textarea {
        resize: none; }
    .comments > form button {
      margin-top: 20px;
      background-color: rgba(0, 0, 0, 0.24);
      color: white; }
  .comments .comment {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; }
    .comments .comment > .comment__header {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 16px; }
      .comments .comment > .comment__header > .comment__avatar {
        width: 48px;
        height: 48px;
        border-radius: 24px;
        margin-right: 16px; }
      .comments .comment > .comment__header > .comment__author {
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
    .comments .comment > .comment__text {
      line-height: 1.5em; }
    .comments .comment > .comment__actions {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 0.8em;
      margin-top: 16px; }
      .comments .comment > .comment__actions button {
        margin-right: 16px;
        color: rgba(0, 0, 0, 0.24); }
    .comments .comment > .comment__answers {
      padding-top: 32px;
      padding-left: 48px; }

.partners {
  text-align: center;
  color: black; }

.mdl-card {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -ms-flex-align: stretch;
  -webkit-box-align: stretch;
  align-items: stretch;
  /* min-height: 360px; */ }

.challenges {
  width: 100%;
  margin-bottom: 15%;
  margin-top: -99px;
  height: 300px; }
  .challenges header {
    z-index: 99;
    background: #212121; }
  .challenges .description {
    min-height: 100%; }
    .challenges .description .text {
      display: block; }
      .challenges .description .text .data {
        display: inline-flex; }
        .challenges .description .text .data .group {
          margin: 0 10px;
          display: inline-flex; }

.challengess {
  width: 100%;
  margin-bottom: 5%;
  margin-top: -99px;
  height: 300px; }
  .challengess header {
    z-index: 99;
    background: #212121; }
  .challengess .description {
    min-height: 100%; }
    .challengess .description .text {
      display: block; }
      .challengess .description .text .data {
        display: inline-flex; }
        .challengess .description .text .data .group {
          margin: 0 10px;
          display: inline-flex; }

.dialog-contest {
  width: 400px; }

.drawerc {
  color: white;
  margin-top: 5%;
  background: #212121;
  border: none;
  z-index: 9999; }
  .drawerc a {
    color: white; }

.card-align {
  margin: 5px 5px 0; }

.filters-dialog {
  width: 700px; }

.mdl-card__title {
  padding: 16px;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  /* flex-grow: 1; */ }

.card-picture {
  height: 250px;
  margin: 0; }

.directory-image {
  width: 68%;
  margin-left: 24px;
  margin-top: 20%; }

.display-directory div {
  display: block; }

.anounce-dialog {
  height: inherit; }

.mdl-dialog-width {
  width: 60%; }

.megaphone-margin {
  margin-bottom: 9%; }

.card-orgs img {
  width: 50px;
  position: absolute;
  right: 10px;
  top: 20px; }

.directory-info {
  width: 100%;
  padding: 20px; }
  .directory-info .group {
    width: 100%;
    display: inline-flex; }
    .directory-info .group p {
      margin-left: 5px; }

.section-details--org {
  background: white;
  margin-bottom: 20px; }
  .section-details--org h4 {
    width: 100%;
    background: #2f2f2f;
    margin: 0;
    color: white;
    padding: 20px;
    font-size: 2em; }
  .section-details--org .mdl-card {
    height: auto !important;
    min-height: auto !important; }

.dir-list {
  width: 100%;
  height: auto !important;
  min-height: auto !important;
  margin: 5px 0; }
  .dir-list .mdl-list__item-primary-content {
    height: auto !important; }
  .dir-list .mdl-list__item-text-body {
    height: auto !important; }
  .dir-list .mdl-cell {
    word-wrap: break-word; }

/**
  * Buttons Partial SASS
  * This SASS file has all
  * buttons style on the web app
**/
/* General */
.button-add-sale {
  margin-right: 22%; }

.addlink {
  margin-top: 30px; }

.mdl-button--fab.mdl-button--colored {
  background: #A72F3F;
  color: white; }

.mdl-button--fab.mdl-button--colored:hover {
  background-color: #A72F3F; }

.mdl-layout__tab-bar {
  height: 96px;
  margin: 0;
  width: calc(100% - 112px);
  padding: 0 0 0 56px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #fa3e51;
  overflow-y: hidden;
  overflow-x: scroll; }

/**
  * Media queries Partial SASS
  * This SASS file has the break points
  * for each media query used on the app
  * !Important Sass extend cannot be used
  * on media queries, just include and functions
**/
/*Media Queries*/
@media screen and (max-width: 1024px) {
  mdl-layout .mdl-layout__drawer-button {
    color: #000 !important; }
    mdl-layout .mdl-layout__drawer-button i {
      color: #000 !important; } }
@media (max-width: 768px) {
  .mdl-layout__drawer-button {
    margin: 4px;
    color: #fff !important; }

  .web-p {
    margin-left: -4px;
    /* margin-bottom: 36px; */
    margin-top: 90%; }

  .dir-pa {
    margin-top: 0;
    margin-left: 0; }

  .megaphone-margin {
    margin-bottom: 26%; }

  .mdl-dialog-width {
    width: 100%; }

  .mdl-dialog__title {
    font-size: 20px; }

  .anounce-dialog {
    height: 100%; }

  .display-directory {
    display: -webkit-inline-box; }

  .mdl-card__supporting-text:not(:last-child) {
    width: 86%;
    display: flex;
    box-sizing: initial;
    height: 110px; }

  .challenges {
    margin-bottom: 39%; }
    .challenges .description .text .data {
      display: -webkit-inline-box; }

  .challengess {
    margin-bottom: 39%; }

  .mdl-card__supporting-text-directory {
    margin: 0; }

  .filters-dialog {
    width: 300px; }

  .logo-container img {
    margin-top: 20px;
    width: 82px; }

  .span-employee {
    margin-top: 7px; }

  .mdl-list__item--three-line {
    height: 150px; }

  .right-link {
    margin-left: 0; }

  .mdl-layout.is-small-screen .mdl-layout--large-screen-only {
    display: flex;
    margin-left: -68px; }

  .header-title-sales select {
    margin-right: 4px; }

  .mdl-badge.mdl-badge--overlap {
    padding-left: 84px; }

  .div-car button {
    margin-left: 30px;
    margin-top: 23px; }

  .mdl-textfield__input {
    font-size: 9px;
    width: 80%; }

  .table-dash.mdl-data-table th {
    font-size: 15px; }

  .backLogin .mdl-card {
    width: 80%; }
    .backLogin .mdl-card form {
      padding: 10px; }
      .backLogin .mdl-card form button {
        width: 90%; }

  .disappear {
    display: none; }

  .mdl-dialog {
    width: 90%; }

  .mdl-card__supporting-texta {
    display: block;
    display: -webkit-box;
    max-width: 400px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.4;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }

  .card-align {
    margin-left: 8px;
    margin-right: 0;
    margin-bottom: 5%; }

  .challenges {
    margin-bottom: 40%; }

  .dialog-contest {
    width: 100%;
    top: 0; }
    .dialog-contest .containt-contest--img img {
      width: 100%; } }

/*# sourceMappingURL=main.css.map */
