<main class="mdl-layout__content" style="width:100%; text-align:center">
  <div class="logo-container"><img src="../assets/imgs/achievement.svg" /></div>
  <h3 class="slogan">Casos de Éxito</h3>
</main>
  <div class="mdl-grid portfolio-max-width">
    <div class="mdl-cell--4-col mdl-card mdl-shadow--4dp portfolio-card card-align" style="    height: 382px;" *ngFor="let s of stories">
      <div>
        <img class="article-image" src={{s.img}} border="0" alt="">
      </div>
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">{{s.title}}</h2>
      </div>
      <div class="elipsis-effect mdl-card__supporting-text" style="    display: block;">
        {{s.description}}
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" [routerLink]="['/case', s._id]">Ver mas</a>
      </div>
    </div>
  </div>

<script>

function add3Dots(string, limit)
{
  var dots = "...";
  if(string.length > limit)
  {
    // you can also use substr instead of substring
    string = string.substring(0,limit) + dots;
  }

    return string;
}

 </script>
