<div class="demo-blog__posts mdl-grid">
  <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
    <div class="mdl-card__media mdl-color-text--grey-50">
      <h3>Caso de Exito - {{story.title}}</h3>
    </div>
    <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
      <div class="minilogo"></div>
      <div>
        <strong>Caso</strong>
        <span>Hace 3 dias</span>
      </div>
      <div class="section-spacer"></div>
      <div class="meta__favorites">
        425 <i class="material-icons" role="presentation">favorite</i>
        <span class="visuallyhidden">favorites</span>
      </div>
    </div>
    <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
      <p>
        {{story.description}}
      </p>
    </div>
  </div>
</div>
