/**
  * Forms Partial SASS
  * This SASS file has all
  * forms used on the app
**/
.portfolio-max-width {
  max-width: 900px;
  margin: auto;
}

img.article-image {
  width: 100%;
  height: auto;
}

.portfolio-card .mdl-card__title {
  padding-bottom: 0;
}

.mdl-card__media {
  padding: 0;
}
