/**
  * Backgrounds Partial SASS
  * This SASS file create
  * multiple backgrounds (colors/img)
**/

.layout-transparent {
  background: linear-gradient(rgba(139, 195, 74, 0.78), rgba(139, 212, 53, 0.22) 90%), linear-gradient(0deg, rgba(183, 198, 205, 0.35), transparent), url("../assets/imgs/bg_2880.jpg") center 45%/cover no-repeat;
  .mdl-layout__drawer-button,
  .mdl-layout__header {
    /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
    color: white !important;
  }
}

.circle-img {
  width: 180px;
  height: 100px;
  @include border-radius(20%);
  margin: 0 auto;
}

.mdl-layout__drawer-button {
  i {
    color: #000 !important;
  }
}
